<html>
<HEAD>
  <!--<meta charset="UTF-8"> если поставить принудительно оно показывает белый экран -->
  <META NAME="Author=NDR" CONTENT="AlphaPlatform">
<STYLE type="text/css">
	BODY { margin: 5mm 5mm 5mm 5mm; }
</STYLE>
</HEAD>

<!--в sql не комментить-->
<!--type отвечает за отчета -->
<!--задний фон-->
<BODY style="background-color:#FFFFFF" >
{@set ndateb = #dateb + 2000}
{@set day_count = $GetCountDayInMonth(ndateb)}

{@set ndatee = ndateb + day_count * 24 * 3600 * 1000}

{@SQL}
select * from month_data_get({@p ndateb}, {@p ndatee}, {@p #type});
{@/SQL}
select * from month_data_get({@p ndateb}, {@p ndatee}, {@p #type});
{@set rec_max=$GetCountRS() - 1}
{@set NULL  = "-"}

  <!--Задаем кол-во линий-->
  {@set count = 2}
  {@set Period = $DateMonthName(date[0])}
  {@set year =  $DateYear(date[0])}

{@array days[32]}<!--массив для номеров записей часовок-->
<!-- цикл на уменьшение добавления даты -->
{@for n=0, $GetCountDayInMonth(date[0])}
  {@set days[n] = -1}
{@/for}
<!--заголовки задаются по type-->
{@array headers[10]}
{@for n=0, 9}
  {@set headers[n] = $StrReplace("узел x", "x", n)}
{@/for}

{@if ((#type == 103))}
  {@for n=0, 9}
    {@set headers[n] = $StrReplace("СИКГ газ<br> на ПТБ x", "x", n)}
  {@/for}
{@/if}

<!--массивы для подсчета итогов за сутки/месяц-->
{@set tvolMonth = 0.0}
{@set tvolMonth20 = 0.0}
{@array volMonth[10]}
{@array volMonth20[10]}

{@set startday = ndateb - 1000} <!--тут строго начало месяца с учетом контракта, который считается по формуле в скл-->

{@for n=0, rec_max}
  {@set dif_day = ( date[n] - startday ) / 24 / 3600000}
    <!--количество суток с начала периода. Первый отчет - на расстоянии 24 часов от начала, поэтому в массиве нулевой элемент всегда пустой-->
  {@if (type[n] == #type)}
     {@set days[dif_day] = n}
{@/for}
<table width="40%">
  <style>
    table {border-collapse: collapse}
    table, th, td {border: 1px solid #000000}
  </style>
  <font style="font-size:12px;line-height:1.0"><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b> СОИ СИКГ УПН Западно-Зимнего<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Месячный журнал регистрации показаний средств измерений<br>
      Формирование отчета: {@p Period} месяц {@p year} года</b></font>
	<tr>
	<th rowspan ="2" width="8%" align="center">Дата<!--Объдинение строки--></th>
	{@for s = 1, count}
		<!--0 если есть СИКН-->
		<TD colspan="2" width="25%" align="center">
		{@p headers[s]}</TD>
	{@/for}
	<th rowspan ="2" align="center">Итого об,<br>РУ за сут.<br>м&sup3;</th>
	<th rowspan ="2" align="center">Итого об,<br>СТ за сут.<br>м&sup3;</th>
	</tr>
  
	<tr>
		{@for s = 1, count}
			<!--0 если есть по СИКГ-->
			<th align="center">Объем РУ<br>м&sup3;</th>
			<th align="center">Объем СТ<br>м&sup3;</th>
		{@/for}
	</tr>
	
<!--УМЕНЬШАЕТ ДАТУ НА -1 И УБИРАЕТ НАЧАЛО СЛЕДУЮЩЕГО МЕСЯЦА-->
{@set day_counts = day_count - 1}
<!--Цикл отвечающий за начало месяца-->
{@for n=0, day_counts}
    {@set hn = days[n]}
    {@if hn >= 0}
          <!--задает дату строк-->
          {@set strbeg = $DateDDMMYYYY(date[hn])}
          <!--строка дата, данные1, данные2, итого1, итого2-->
          <TR align="center">
          <TD>{@p strbeg}</TD>
          {@for s = 1, count}
            {@if line[n + s] == s} <!--ПРИ ОДНОЙ ЛИНИИ СТАВИТЬ <>!!!!!-->
              <TD>{@p $FormatEx(volume[n + s], 2, NULL)}</TD>
              <TD>{@p $FormatEx(volume20[n + s], 2, NULL)}</TD>
              <!--Подсчет итогов за день-->
              {@set volDay   = volDay   + volume[n+s]}
              {@set volDay20 = volDay20 + volume20[n+s]}
              <!--Подсчет итогов за месяц-->
              {@set volMonth[s]  = volMonth[s] + volume[n+s]}
              {@set volMonth20[s]  = volMonth20[s] + volume20[n+s]}
              {@else}
              <TD>{@p NULL}</TD>
              <TD>{@p NULL}</TD>
            {@/if}
          {@/for}
          <!--Итоги итогов за месяц-->
          {@set tvolMonth   = tvolMonth    + volDay}
          {@set tvolMonth20 = tvolMonth20  + volDay20}

          <TD style="font-weight:bold">{@p $FormatEx(volDay,   0, NULL)}</TD>
          <TD style="font-weight:bold">{@p $FormatEx(volDay20, 0, NULL)}</TD>
            <!--если n>1 то в начало строки будет добавляться число. дефолт 0-->
            {@set volDay = 0} <!--Задает в цикл начало месяца-->
            {@set volDay20 = 0}
          </TR>
          <!--КОД ОТВЕЧАЮЩИЙ ВСТАВЛЯЮЩЕЕ ПРОПУСКИ-->
          {@else}
          {@set strbeg = $DateFull(startday + cntr * 24 * 3600000)}
          <!--убираем время-->
          {@set strbeg = $StrReplace(strbeg, "00:00:00 ", " ") }
          <TR align="center">
          <TD>{@p strbeg}</TD>
          <!--если ничего нет, то ставится "-"-->
          {@for s = 1, count}
            <!--0 если есть по СИКГ-->
            <TD>{@p NULL}</TD>
            <TD>{@p NULL}</TD>
            {@/for}
              <TD>{@p NULL}</TD>
              <TD>{@p NULL}</TD>
          </TR>
          {@/if}
          <!--ЧАСТЬ НИЖЕ ОТВЕЧАТЕ ЗА ВРЕМЯ ПРОПУСКОВ БЕЗ ЭТОГО НЕ РАБОТАЕТ
          ВЕРХНЯЯ ЧАСТЬ-->
          <!--СЧИТАЕТ ДНИ КОГДА ЕСТЬ ДАННЫЕ-->
          {@set cntr = cntr+1}<!--Добавляет +1 день-->
{@/for}
  <!--Итоги за месяц-->
  <TR align="center" style="font-weight:bold">
    <TD colspan="1">Итого<br>за месяц</TD>
      {@for s = 1, count}
      {@if line[hn+s]}
      <TD>{@p $FormatEx(volMonth[s],   0, NULL)}</TD>
      <TD>{@p $FormatEx(volMonth20[s], 0, NULL)}</TD>
      {@else}
       <TD>{@p NULL}</TD>
       <TD>{@p NULL}</TD>
      {@/if}
    {@/for}
      <TD>{@p $FormatEx(tvolMonth,   0, NULL)}</TD>
      <TD>{@p $FormatEx(tvolMonth20, 0, NULL)}</TD>
  </TR>
</table>
<font style="font-size:10;line-height:2.0">
<!--* - не расчетное справочное значение, полученное суммированием-->
</font>
</BODY>
</html>
