<html lang="ru">
<HEAD>
  <meta charset="UTF-8">
  <META NAME="Author=NDR" CONTENT="AlphaPlatform">
  <STYLE type="text/css">
    @media print {BODY {margin: 5mm 5mm 5mm 5mm; }}
  </STYLE>
</HEAD>
<BODY style="background-color:#ffffff; font-size:14px">

<!--замена report_get на свою функцию/шаблон-->
{@SQL}
select * from report_get({@p #dateb}, {@p #datee}, {@p #type});
{@/SQL}

{@set NumBIK=4}
{@set NULL  = "-"}
{@set Time  = $DateHour(date)}
{@set Period = "Ошибка периода"}

{@set printdate = $DateDDMMYYYY(date)}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
  border: 1px solid #000000;
  }
</style>
  {@set count = 2}
  {@if ((#type == 0) OR (#type == 1) OR (#type == 2) OR (#type == 3) OR (#type == 4))} {@set count=5} {@/if}
  {@if ((#type == 100) OR (#type == 101) OR (#type == 102) OR (#type == 103) OR (#type == 104))} {@set count=5} {@/if}
  {@if ((#type == 200) OR (#type == 201) OR (#type == 202) OR (#type == 203) OR (#type == 204))} {@set count=2} {@/if}

  <!--загловки задаются по type-->
  {@array headers[10]}
    {@for n=0, 9}
      {@set headers[n] = $StrReplace("узел x", "x", n)}
    {@/for}

  {@if ((#type == 100) OR (#type == 101)  OR (#type == 102)  OR (#type == 103)  OR (#type == 104) OR (#type == 113))}
    {@for n=0, 9}
      {@set headers[n] = $StrReplace("СИКГ газ<br> на ПТБ x", "x", n)}
    {@/for}
  {@/if}

  {@if ((#type == 200) OR (#type == 201) OR (#type == 202) OR (#type == 203) OR (#type == 204) OR (#type == 213)
  OR (#type == 600) OR (#type == 601)  OR (#type == 602)  OR (#type == 603)  OR (#type == 604) OR (#type == 613))}
    {@set headers[1] = "СИКГ газ<br> на ТГ (ДУ 300)"}
    {@set headers[2] = "СИКГ газ<br> на ТГ (ДУ 150)"}
  {@/if}

  {@if ((#type == 300) OR (#type == 301) OR (#type == 302) OR (#type == 303) OR (#type == 304) OR (#type == 313))}
    {@set headers[1] = "СИКГ газ<br> на ТГ ВД"}
    {@set headers[2] = "СИКГ газ<br> на ТГ НД"}
  {@/if}

  {@if ((#type == 400) OR (#type == 401) OR (#type == 402) OR (#type == 403) OR (#type == 404) OR (#type == 413))}
    {@set headers[1] = "СИКГ 1 газ<br> на ФВД"}
    {@set headers[2] = "СИКГ 2 газ<br> на ФНД"}
  {@/if}

  {@if ((#type == 500) OR (#type == 501) OR (#type == 502) OR (#type == 503) OR (#type == 504) OR (#type == 513))}
    {@set headers[1] = "СИКГ 3<br> на БПТГ"}
    {@set headers[2] = "СИКГ 4<br> на БПТГ"}
    {@set headers[3] = "СИКГ 6<br> на БПТГ"}
    {@set headers[4] = "СИКГ 7<br> на БПТГ"}
    {@set headers[5] = "СИКГ 8<br> на БПТГ"}
    {@set headers[6] = "СИКГ 9<br> на БПТГ"}
  {@/if}

  {@if ((#type == 700) OR (#type == 701) OR (#type == 702) OR (#type == 703) OR (#type == 704) OR (#type == 713))}
    {@for n=0, 9}-->
      {@set headers[n] = $StrReplace("СИКГ газ<br> на ТГ-5/x", "x", n)}
    {@/for}
  {@/if}

    <font style="font-size:14px;line-height:1.0">
    Дата: {@p printdate}
    <br><br><!-- 0 - часовой, 1 - двух-х часовой, 2 - сменный, 3 - суточный, 4 - месячный -->

    <!--type отвечает за какой именно отчет будет выдаваться, здесь как пример часовой-->
    {@if ((#type == 0) OR (#type == 100) OR (#type == 200))}
      <CENTER>Часовой отчет</CENTER>
      {@set WeightText="час"}
      <!--здесь описывается выборка времени из которых будет вытаскиваться отчет -->
      {@set Period = "23:00 - 24:00"}

      {@if Time == 22}  {@set Period = "22:00 - 23:00"} {@/if}
      {@if Time == 21}  {@set Period = "21:00 - 22:00"} {@/if}
      {@if Time == 20}  {@set Period = "20:00 - 21:00"} {@/if}
      {@if Time == 19}  {@set Period = "19:00 - 20:00"} {@/if}
      {@if Time == 18}  {@set Period = "18:00 - 19:00"} {@/if}
      {@if Time == 17}  {@set Period = "17:00 - 18:00"} {@/if}
      {@if Time == 16}  {@set Period = "16:00 - 17:00"} {@/if}
      {@if Time == 15}  {@set Period = "15:00 - 16:00"} {@/if}
      {@if Time == 14}  {@set Period = "14:00 - 15:00"} {@/if}
      {@if Time == 13}  {@set Period = "13:00 - 14:00"} {@/if}
      {@if Time == 12}  {@set Period = "12:00 - 13:00"} {@/if}
      {@if Time == 11}  {@set Period = "11:00 - 12:00"} {@/if}
      {@if Time == 10}  {@set Period = "10:00 - 11:00"} {@/if}
      {@if Time == 9}   {@set Period = "09:00 - 10:00"} {@/if}
      {@if Time == 8}   {@set Period = "08:00 - 09:00"} {@/if}
      {@if Time == 7}   {@set Period = "07:00 - 08:00"} {@/if}
      {@if Time == 6}   {@set Period = "06:00 - 07:00"} {@/if}
      {@if Time == 5}   {@set Period = "05:00 - 06:00"} {@/if}
      {@if Time == 4}   {@set Period = "04:00 - 05:00"} {@/if}
      {@if Time == 3}   {@set Period = "03:00 - 04:00"} {@/if}
      {@if Time == 2}   {@set Period = "02:00 - 03:00"} {@/if}
      {@if Time == 1}   {@set Period = "01:00 - 02:00"} {@/if}
      {@if Time == 0}   {@set Period = "00:00 - 01:00"} {@/if}
    {@/if}

     {@if ((#type == 101) OR (#type == 201) OR (#type == 301) OR (#type == 401) OR (#type == 501) OR (#type == 601) OR (#type == 701))}
      <CENTER>2-х часовой отчет</CENTER>
      {@set WeightText="2 часа"}
      {@set Period = "22:00 - 24:00"}

      {@if Time == 22}      {@set Period = "20:00 - 22:00"} {@/if}
      {@if Time == 20}      {@set Period = "18:00 - 20:00"} {@/if}
      {@if Time == 18}      {@set Period = "16:00 - 18:00"} {@/if}
      {@if Time == 16}      {@set Period = "14:00 - 16:00"} {@/if}
      {@if Time == 14}      {@set Period = "12:00 - 14:00"} {@/if}
      {@if Time == 12}      {@set Period = "10:00 - 12:00"} {@/if}
      {@if Time == 10}      {@set Period = "08:00 - 10:00"} {@/if}
      {@if Time == 8}       {@set Period = "06:00 - 08:00"} {@/if}
      {@if Time == 6}       {@set Period = "04:00 - 06:00"} {@/if}
      {@if Time == 4}       {@set Period = "02:00 - 04:00"} {@/if}
      {@if Time == 2}       {@set Period = "00:00 - 02:00"} {@/if}
    {@/if}

    {@if ((#type == 102) OR (#type == 202) OR (#type == 302) OR (#type == 402) OR (#type == 502) OR (#type == 602) OR (#type == 702))}
      <CENTER>Оперативный сменный отчет</CENTER>
      {@set WeightText="смену"}

        {@if Time < 0.6}
          {@set Period = "00:00:00 - 12:00:00"}
        {@else}
          {@set Period = "12:00 - 24:00"}
        {@/if}
      {@set Period = "00:00:00 - 24:00:00"}
    {@/if}

    {@if ((#type == 103) OR (#type == 203) OR (#type == 303) OR (#type == 403) OR (#type == 503) OR (#type == 603) OR (#type == 703))}
      <CENTER>Оперативный суточный отчет</CENTER>
      {@set WeightText="сутки	"}
      {@set Period = "00:00:00 - 24:00:00"}
    {@/if}

    {@if ((#type == 4) OR (#type == 104) OR (#type == 204))}
      <CENTER>Месячный отчет</CENTER>
      {@set WeightText="месяц"}
      {@set Period = $DateMonthName(date[0])}
      {@set printdate = $DateYear(date[0])}
    {@/if}<br>

    <table width="100%">
    <tr align="center">
      <td rowspan ="2" width="10%"> <!--Объдинение столбца-->
      </td>
    </tr>
    <tr align="center">
      <!--Вторая строка просто текст-->
      <td width="15%">Объем в <br> раб. у, м&sup3;
      </td>
      <td width="15%">Объем в <br> ст. у, м&sup3;
      </td>
      <td width="15%">Среднее.<br>давление, МПа
      </td>
      <td width="15%">Средняя<br>температура, °C
      </td>
    </tr>

    {@for n=0, count}
      {@if line[n]}
        <tr align="center">
          <!--Третья строка вытаскивает запросы с sql-->
          <td>{@p headers[line+n]}
          </td>
          <td>{@p $FormatEx(volume[n], 0,NULL)}
          </td>
          <td>{@p $FormatEx(volume20[n], 0,NULL)}
          </td>
          <td>{@p $FormatEx(pres[n], 2, NULL)}
          </td>
          <td>{@p $FormatEx(temp[n], 1, NULL)}
          </td>
        </tr>
      {@/if}
    {@/for}
  </table>
</font>
</BODY>
</html>
