<html lang="ru">
<HEAD>
  <meta charset="UTF-8">
  <META NAME="Author=NDR" CONTENT="AlphaPlatform">
  <STYLE type="text/css">
    @media print {BODY {margin: 5mm 5mm 5mm 5mm; }}
  </STYLE>
</HEAD>
<BODY style="background-color:#ffffff; font-size:14px">
<!--замена report_get на свою функцию/шаблон-->
{@SQL}
select * from report_get({@p #dateb}, {@p #datee}, {@p #type});
{@/SQL}
select * from report_get({@p #dateb}, {@p #datee}, {@p #type});

{@set NumBIK=4}
{@set NULL  = "-"}
{@set Time  = $DateHour(date)}
{@set Period = "Ошибка периода"}

{@set printdate = $DateDDMMYYYY(date)}

<font style="font-size:10px;line-height:1.0">
  <div align="center"> <b> СОИ СИКГ УПН Западно-Зимнего<br>
    сдача попутного нефтяного газа</b></div></font>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
  border: 1px solid #000000;
  }
</style>

{@set count=2}

<!--загловки задаются по type-->
{@array headers[10]}
  {@for n=0, 9}
    {@set headers[n] = $StrReplace("узел x", "x", n)}
  {@/for}

{@if ((#type == 100) OR (#type == 101)  OR (#type == 102)  OR (#type == 103)  OR (#type == 104) OR (#type == 113))}
  {@for n=0, 2}
    {@set headers[n] = $StrReplace("СИКГ газ<br> на ПТБ x", "x", n)}
  {@/for}
{@/if}

  <!-- 0 - часовой, 1 - двух-х часовой, 2 - сменный, 3 - суточный -->
  <font style="font-size:12px;line-height:1.0"><b>
    <!--type отвечает за какой именно отчет будет выдаваться, здесь как пример часовой-->
    {@if (#type == 100)}
      <CENTER>Часовой отчет</CENTER>
      {@set WeightText="час"}
      <!--здесь описывается выборка времени из которых будет вытаскиваться отчет -->
      {@set Period = "23:00 - 24:00"}

      {@if Time == 22}  {@set Period = "22:00 - 23:00"} {@/if}
      {@if Time == 21}  {@set Period = "21:00 - 22:00"} {@/if}
      {@if Time == 20}  {@set Period = "20:00 - 21:00"} {@/if}
      {@if Time == 19}  {@set Period = "19:00 - 20:00"} {@/if}
      {@if Time == 18}  {@set Period = "18:00 - 19:00"} {@/if}
      {@if Time == 17}  {@set Period = "17:00 - 18:00"} {@/if}
      {@if Time == 16}  {@set Period = "16:00 - 17:00"} {@/if}
      {@if Time == 15}  {@set Period = "15:00 - 16:00"} {@/if}
      {@if Time == 14}  {@set Period = "14:00 - 15:00"} {@/if}
      {@if Time == 13}  {@set Period = "13:00 - 14:00"} {@/if}
      {@if Time == 12}  {@set Period = "12:00 - 13:00"} {@/if}
      {@if Time == 11}  {@set Period = "11:00 - 12:00"} {@/if}
      {@if Time == 10}  {@set Period = "10:00 - 11:00"} {@/if}
      {@if Time == 9}   {@set Period = "09:00 - 10:00"} {@/if}
      {@if Time == 8}   {@set Period = "08:00 - 09:00"} {@/if}
      {@if Time == 7}   {@set Period = "07:00 - 08:00"} {@/if}
      {@if Time == 6}   {@set Period = "06:00 - 07:00"} {@/if}
      {@if Time == 5}   {@set Period = "05:00 - 06:00"} {@/if}
      {@if Time == 4}   {@set Period = "04:00 - 05:00"} {@/if}
      {@if Time == 3}   {@set Period = "03:00 - 04:00"} {@/if}
      {@if Time == 2}   {@set Period = "02:00 - 03:00"} {@/if}
      {@if Time == 1}   {@set Period = "01:00 - 02:00"} {@/if}
      {@if Time == 0}   {@set Period = "00:00 - 01:00"} {@/if}
    {@/if}

    {@if (#type == 101)}
      <CENTER>2-х часовой отчет</CENTER>
      {@set WeightText="2 часа"}
      {@set Period = "22:00 - 24:00"}

      {@if Time == 22}      {@set Period = "20:00 - 22:00"} {@/if}
      {@if Time == 20}      {@set Period = "18:00 - 20:00"} {@/if}
      {@if Time == 18}      {@set Period = "16:00 - 18:00"} {@/if}
      {@if Time == 16}      {@set Period = "14:00 - 16:00"} {@/if}
      {@if Time == 14}      {@set Period = "12:00 - 14:00"} {@/if}
      {@if Time == 12}      {@set Period = "10:00 - 12:00"} {@/if}
      {@if Time == 10}      {@set Period = "08:00 - 10:00"} {@/if}
      {@if Time == 8}       {@set Period = "06:00 - 08:00"} {@/if}
      {@if Time == 6}       {@set Period = "04:00 - 06:00"} {@/if}
      {@if Time == 4}       {@set Period = "02:00 - 04:00"} {@/if}
      {@if Time == 2}       {@set Period = "00:00 - 02:00"} {@/if}
    {@/if}

    {@if (#type == 102)}
      <CENTER>Оперативный сменный отчет</CENTER>
      {@set WeightText="смену"}
        {@if Time < 0.6}
          {@set Period = "00:00:00 - 12:00:00"}
          {@else}
          {@set Period = "12:00 - 24:00"}
        {@/if}
      {@set Period = "00:00:00 - 24:00:00"}
    {@/if}

    {@if (#type == 103)}
      <CENTER>Оперативный суточный отчет</CENTER>
      {@set WeightText="сутки	"}
      {@set Period = "00:00:00 - 24:00:00"}
    {@/if}

    {@if (#type == 104)}
      <CENTER>Месячный отчет</CENTER>
      {@set WeightText="месяц"}
      {@set Period = $DateMonthName(date[0])}
      {@set printdate = $DateYear(date[0])}
    {@/if}

    {@if (#type == 113)}
      <CENTER>Оперативный суточный отчет</CENTER>
      {@set WeightText="сутки"}
      {@set Period = $DateHHMMSS(date[0])}
    {@/if}

  <!--инициализация переменной итогов-->
  {@set resultVolume = 0}
  {@set resultVolume20 = 0}
  {@set avgPres = 0}
  {@set avgTemp = 0}

  <font style="font-size:10px;line-height:1.0">
    Формирование отчета: {@p Period}
    {@p printdate}
    <br>
    <table>
    <tr align="center">
      <td rowspan ="2"> <!--Объдинение столбца-->
      </td>
      <th colspan="6">Параметры измеряемой среды <!--Объдинение строки-->
      </th>
    </tr>
    <tr align="center">
      <!--Вторая строка просто текст-->
      <td>Объем газа при <br> рабочих условиях, м&sup3;
      </td>
      <td>Объем газа при <br> стандартных условиях, м&sup3;
      </td>
      <td>Обьем нарастающий<br>в рабочих условиях, м&sup3;
      </td>
      <td>Обьем нарастающий<br>в стандартных условиях, м&sup3;
      </td>
      {@if ((#type == 100) OR (#type == 101) OR (#type == 102) OR (#type == 103))}
      <td>Давление абс.<br>среднее, МПа
      </td>
      <td>Температура<br>средняя, °C
      </td>
     {@/if}
    </tr>
    {@for n=1, count}
    {@if line[n]}
      <tr align="center">
        <!--Третья строка вытаскивает запросы с sql-->
        <td>{@p headers[line+n]}
        </td>
        <td>{@p $FormatEx(volume[n], 0,NULL)}
        </td>
        <td>{@p $FormatEx(volume20[n], 0,NULL)}
        </td>
        <td>{@p $FormatEx(volume_accum[n], 0, NULL)}
        </td>
        <td>{@p $FormatEx(volume20_accum[n], 0, NULL)}
        </td>
        {@if ((#type == 100) OR (#type == 101) OR (#type == 102) OR (#type == 103))}
        <td>{@p $FormatEx(pres[n], 2, NULL)}
        </td>
        <td>{@p $FormatEx(temp[n], 1, NULL)}
        </td>
        {@/if}
      </tr>
      {@/if}
    {@/for}
    {@for n=1, count}
        {@set resultVolume         = resultVolume + volume[n]}
        {@set resultVolume20       = resultVolume20 + volume20[n]}
        {@set resultVolumeAccum    = resultVolumeAccum + volume_accum[n]}
        {@set resultVolume20Accum  = resultVolume20Accum + volume20_accum[n]}
        {@set avgPres              =  (avgPres+(volume20[n]*pres[n]))}
        {@set avgTemp              =  (avgTemp+(volume20[n]*temp[n]))}
    {@/for}
      {@set totalResPres = avgPres/resultVolume20}
      {@set totalResTemp = avgTemp/resultVolume20}
      <tr align="center">
        <th>Итого</th>
        <th>{@p $FormatEx(resultVolume, 0,NULL)}
        </th>
        <th>{@p $FormatEx(resultVolume20, 0,NULL)}
        </th>
        <th>{@p $FormatEx(resultVolumeAccum, 0,NULL)}
        </th>
        <th>{@p $FormatEx(resultVolume20Accum, 0,NULL)}
        </th>
        {@if ((#type == 100) OR (#type == 101) OR (#type == 102) OR (#type == 103))}
         <th> {@p NULL}
         </th>
         <th> {@p NULL}
         </th>
        {@/if}
      </tr>
  </table>
 <!-- <font style="font-size:10;line-height:1.0">
* - не расчетное справочное значение, полученное суммированием
</font>-->
    <br><br><br>

    <pre> <p style="text-align: center;">
       ______________________   _______________________   _______________________
      (должность)               (Ф.И.О)                  (подпись)
     </p>
    </pre>
  </font>
</font>
</BODY>
</html>
