/amon/
amon/
/SHCHEO
/amon
/Панель/journal.xls
/Панель/metka.xls
/Панель/SHCHEO.xls
/Панель/sheoadress.xls
/Панель/UNTK_SHCHSN_ASUE.xls
/Панель/АСУЭ.cmtp.bak1
/Панель/АСУЭ.cmtp.bak2
/Панель/АСУЭ.cmtp.bak3
/Панель/АСУЭ.cxob
/Панель/АСУЭ.debug
/Панель/ЩСН.cmtp.bak1
/Панель/ЩСН.cmtp.bak2
/Панель/ЩСН.cmtp.bak3
/Панель/ЩСН.cxob
/Панель/ЩСН.debug
/Панель/ЩЭО.cmtp.bak1
/Панель/ЩЭО.cmtp.bak2
/Панель/ЩЭО.cmtp.bak3
/Панель/ЩЭО.cxob
/Панель/ЩЭО.debug
/Панель/mb
/Панель/АСУЭ Адрес.тег
/Панель/Датчик
/Панель/ЩСН Адрес
/Панель/123.xls
/Панель/adress.xls
/Панель/adress_bovan.xls
/Панель/adress_sheo.xls
/Панель/Dio_Desk_SHEO.xls
/Панель/Dio_Desk_SHSN.xls
/Панель/docview.csv
/Панель/docview.ods
